.app{
    width: 100%;
    height: 100%;
}

.head {
  
width: auto;
height: 1081px;
background: transparent linear-gradient(289deg, #EE9617 0%, #FE5858 100%) 0% 0% no-repeat padding-box;
opacity: 1;

}


.font-a {
    top: -69.15924072265625px;
left: 330px;
width: 1161px;
height: 1074px;
background: #FFFFFF 0% 0% no-repeat padding-box;
opacity: 0.08;
}

.logo {
 
width: auto ;
height: 300px;
background: #FFFFFF 0% 0% no-repeat padding-box;

opacity: 1;
}

.top-black {
    
    height:  40px ;
    width: 100% !important;
   
   
    
}

.menu{
    margin-top: 20px;
    width: 100% !important;
}


.callus {
    top: 18px;
left: 965px;
width: 459px;
height: 28px;



text-align: left;
font: normal normal normal 20px/30px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-size: 15px;
vertical-align: middle;

margin-right: 5px !important;
font-size: 15px;

}

.contact {
    top: 18px;

width: auto;
height: 28px;

text-align: left;
font: normal normal normal 20px/30px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
font-size: 15px;
vertical-align: middle;

padding-right: 5px;
}

.navbar {

    margin: 0 !important;
    padding: 0 !important;
}

.navbar-brand1 {
    height: 70px;
   align-items: flex-start;
max-width: 275px;
height: 100px;
background: #FFFFFF 0% 0% no-repeat padding-box;

opacity: 1;


margin: 0 !important;
padding: 0 !important;



border: solid 1px orange;
border-style: none;
border-radius: 30;
border-color: orange;

}

.font-orange {
    top: 0px;
    left: 0px;
    max-width: 1477px;
    height:  1050px;
    max-height: 1281px; 
    background: transparent linear-gradient(289deg, #EE9617 0%, #FE5858 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.logo {
  float: left !important;
width: 100%;
height: 75%;
/* background: transparent url('../../assets/img/logo.png') 0% 0% no-repeat padding-box; */
opacity: 1;
justify-content: start;
margin-top: 5px;
min-height: 100px;
min-width: 150px;
}

.img-logo {
    border: solid 1px Sorange;
    border-style: none;
    border-radius: 30;
    border-color: orange;
    min-height: 100px;
    min-width: 100px;
}

.nav-item {
color : #FFFFFF;
}

.start-now {
   display: block;
left: 1560px;
width: 15px;
height: 35px;
background: #D44800 0% 0% no-repeat padding-box;
border-radius: 116px;
opacity: 1;
}

.btn-start {
    background: #D44800 !important;
    width:auto;
height: auto;
border: solid 1px ;
border-radius: 116px;
margin: 3px !important;
padding: 5px !important;
margin-top: 15px !important;

vertical-align: middle;
}
.npi-small {
    width: 30%;
    font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-14)/21px Poppins;
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
color: white;

display: flex ;
flex: row;
}

.tiret {
    max-width: 30px !important;
}
.text-npi {
   
    width: auto;
    height: auto;
font: var(--unnamed-font-style-normal) normal normal var(--unnamed-font-size-14)/21px Poppins;
letter-spacing: var(--unnamed-character-spacing-0);

font: normal normal normal 14px/21px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: capitalize;
opacity: 0.8;
display: inline;
}
.npi-gras {
 
font: normal normal bold 70px/55px Poppins;

font-size: 60px ;
font-weight: 600;
letter-spacing: 0px;
color: #FFFFFF;
text-transform: uppercase;
opacity: 1;
max-width: 80%;
display: flex;
}
.sous-titre2 {
    
letter-spacing: var(--unnamed-character-spacing-0);
text-align: left;
font: normal normal normal 22px/24px Poppins;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.boutons {
    align-items: center;
    justify-content: left;
    vertical-align: middle;
    height: 50px;
    width: 100%;
}

    .img-left2{
         background: transparent url('../../assets/img/30744.png') 0% 0% no-repeat padding-box; 
        top: 550px;
        left: 900px;
        width: 455px;
        height: 302px;
        float: left;
        
       
        box-shadow: 0px 31px 26px #00000029;
        border: 6px solid #FE585840;
        border-radius: 18px;
        opacity: 1;
        z-index: 998;
        
    }

    .img-left1{
        background: transparent url('../../assets/img/img-service.png') 0% 0% no-repeat padding-box; 
        top: 200px;
        left: 1100px;
        width: 501px;
        height: 501px;
       float: left;
       
      
       box-shadow: 0px 31px 26px #00000029;
       border: 6px solid #FE585840;
       border-radius: 18px;
       opacity: 1;
       z-index: 999;
       
   }

    .last {
        top: 718px;
left: 960px;
width: 455px;
height: 302px;
float: left;

background: transparent url('../../assets/img/30744.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 31px 26px #00000029;
border: 6px solid #FE585840;
border-radius: 18px;
opacity: 1;
z-index: 999;

justify-content: end;
    }

    .btn-commencer {
        width: 193px;
height: 59px;
border: 1px solid #FFFFFF;
border-radius: 116px;
opacity: 1;
background-color: #FE5858 ;
    }

    .btn-offre {
        width: 193px;
        height: 59px;
        border: 1px solid #FFFFFF;
        border-radius: 116px;
       
        color: #FE5858;
        opacity: 1;
        background-color: white;
    }

    .raisons-npi {
        margin-top: 10px ;
        align-items: center;
        text-align: center;
    }

    .img-personne {
        max-width: 80%;
        max-height: 80%;
    }
@media screen and (max-width: 900px) {
    .top-black {
    
        height: 30px !important;
        width: 100%;
        position: relative;
        
    }

    .font-orange {
        top: 0px;
        left: 0px;
        width: 1477px !important;
       
        height: 1081px ;
        background: transparent linear-gradient(289deg, #EE9617 0%, #FE5858 100%) 0% 0% no-repeat padding-box;
        opacity: 1;
    }

    .img-left2{
        background: transparent url('../../assets/img/30744.png') 0% 0% no-repeat padding-box; 
       
      
       max-width: 455px;
       max-height: 302px;
       float: left;
       box-shadow: 0px 31px 26px #00000029;
       border: 6px solid #FE585840;
       border-radius: 18px;
       opacity: 1;
       z-index: 998;
       
   }

   .img-left1{
       background: transparent url('../../assets/img/img-service.png') 0% 0% no-repeat padding-box; 
     
       max-width: 501px;
       max-height: 501px;
      float: left;
    box-shadow: 0px 31px 26px #00000029;
      border: 6px solid #FE585840;
      border-radius: 18px;
      opacity: 1;
      z-index: 999;
      
  }
    

    .npi-small {
        width: 60%;
    }

    .npi-gras {
 
        font: normal normal bold 89px/75px Poppins;
        width: auto;
        height: auto;
        font-size: 30px ;
        font-weight: 500;
        letter-spacing: 0px;
        color: #FFFFFF;
        text-transform: uppercase;
        opacity: 1;
        display:  flex;
        flex-wrap: wrap;
        }
  }
  @media screen and (max-width: 770px) {
    .top-black {
    
        height: 40px !important;
        width: 100% !important;
        position: relative;
        
    }
    .menu{
        margin-top: 20px;
    }
  }
